.main-container {
  /* This adds styling to the main container. */
    border-style: solid;
    border-width: 10px;
    border-color: limegreen;
    padding: 10px;
    background: pink;
    text-align: center;
    font-size: 60px;
    font-color: pink;
  }

/* Text Styling: */
.text {
  border-style: solid;
  border-width: 10px;
  border-color: turquoise ;
  padding: 10px;
  background: limegreen;
  text-align: center;
  font-size: 40px;
  color: pink;
}
/* The 1980s had vibrant colors. */

h1 {
  color: orange;
  opacity: .9
}
