
h1 {
   font-size: 30pt;
   font-weight: bolder;
     line-height: normal;
    font-family: 'B612 Mono', monospace;
}
  .main-container {
      background-color: blue;
      text-align: center;
      padding: 10px;
      border: 5px solid #000000;
   }

h2 {
   font-family: sans-serif;
   font-size: 28pt;
   font-weight: bold;
     line-height: normal;
}

p {
  font-family: 'Montserrat', sans-serif;
   font-size: 16pt;
   font-weight: normal;
   font-style: italic;
  line-height: normal;
  color: green;
}

p::first-letter {
  font-size: 30pt

}

a:hover {
   color: #79AF33;
   text-decoration: none;
}

#heading-1 {
    font-family: 'Comic Sans MS'
}
#heading-2 {
    font-family: 'Comic Sans'
    }
#p { font-family: 'sans-serif'}
